In [1]:
import pandas as pd # pandas To pd I bring you to.
url ='https://vincentarelbundock.github.io/Rdatasets/csv/HistData/Guerry.csv'
original_df = pd.read_csv(url)
print(original_df.head())
print(original_df.tail())

C:\Users\Lakpa\anaconda3\envs\tf-gpu\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Lakpa\anaconda3\envs\tf-gpu\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\Lakpa\anaconda3\envs\tf-gpu\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

   Unnamed: 0  dept Region    Department  Crime_pers  Crime_prop  Literacy  \
0           1     1      E           Ain       28870       15890        37
1           2     2      N         Aisne       26226        5521        51
2           3     3      C        Allier       26747        7925        13
3           4     4      E  Basses-Alpes       12935        7289        46
4           5     5      E  Hautes-Alpes       17488        8174        69

   Donations  Infants  Suicides  ... Crime_parents  Infanticide  \
0       5098    33120     35039  ...            71           60
1       8901    14572     12831  ...             4           82
2      10973    17044    114121  ...            46           42
3       2733    23018     14238  ...            70           12
4       6962    23076     16171  ...            22           23

   Donation_clergy  Lottery  Desertion  Instruction  Prostitutes  Distance  \
0               69       41         55           46           13   218.372
1               36       38         82           24          327    65.945
2               76       66         16           85           34   161.927
3               37       80         32           29            2   351.399
4               64       79         35            7            1   320.280

   Area  Pop1831
0  5762   346.03
1  7369   513.00
2  7340   298.26
3  6925   155.90
4  5549   129.10

[5 rows x 24 columns]
    Unnamed: 0  dept Region    Department  Crime_pers  Crime_prop  Literacy  \
81          82    86      W        Vienne       15010        4710        25
82          83    87      C  Haute-Vienne       16256        6402        13
83          84    88      E        Vosges       18835        9044        62
84          85    89      C         Yonne       18006        6516        47
85          86   200    NaN         Corse        2199        4589        49

    Donations  Infants  Suicides  ... Crime_parents  Infanticide  \
81       8922    35224     21851  ...            20            1
82      13817    19940     33497  ...            68            6
83       4040    14978     33029  ...            58           34
84       4276    16616     12789  ...            32           22
85      37015    24743     37016  ...            81            2

    Donation_clergy  Lottery  Desertion  Instruction  Prostitutes  Distance  \
81               44       40         38           65           18   170.523
82               78       55         11           84            7   198.874
83                5       14         85           11           43   174.477
84               35       51         66           27          272    81.797
85               84       83          9           25            1   539.213

    Area  Pop1831
81  6990   282.73
82  5520   285.13
83  5874   397.99
84  7427   352.49
85  8680   195.41

[5 rows x 24 columns]

In [2]:
original_df = pd.read_csv(url, index_col=0) # `index_col=0`Is the first column indexDesignated as
print(original_df.head())

   dept Region    Department  Crime_pers  Crime_prop  Literacy  Donations  \
1     1      E           Ain       28870       15890        37       5098
2     2      N         Aisne       26226        5521        51       8901
3     3      C        Allier       26747        7925        13      10973
4     4      E  Basses-Alpes       12935        7289        46       2733
5     5      E  Hautes-Alpes       17488        8174        69       6962

   Infants  Suicides MainCity  ...  Crime_parents  Infanticide  \
1    33120     35039    2:Med  ...             71           60
2    14572     12831    2:Med  ...              4           82
3    17044    114121    2:Med  ...             46           42
4    23018     14238     1:Sm  ...             70           12
5    23076     16171     1:Sm  ...             22           23

   Donation_clergy  Lottery  Desertion  Instruction  Prostitutes  Distance  \
1               69       41         55           46           13   218.372
2               36       38         82           24          327    65.945
3               76       66         16           85           34   161.927
4               37       80         32           29            2   351.399
5               64       79         35            7            1   320.280

   Area  Pop1831
1  5762   346.03
2  7369   513.00
3  7340   298.26
4  6925   155.90
5  5549   129.10

[5 rows x 23 columns]

In [3]:
print(original_df.shape[0], original_df.shape[1])

86 23

In [4]:
original_df.shape

(86, 23)

In [5]:
original_df.describe()

,dept,Crime_pers,Crime_prop,Literacy,Donations,Infants,Suicides,Wealth,Commerce,Clergy,Crime_parents,Infanticide,Donation_clergy,Lottery,Desertion,Instruction,Prostitutes,Distance,Area,Pop1831
count,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000
mean,46.883721,19754.406977,7843.058140,39.255814,7075.546512,19049.906977,36522.604651,43.500000,42.802326,43.430233,43.500000,43.511628,43.500000,43.500000,43.500000,43.127907,141.872093,207.953140,6146.988372,378.628721
std,30.426157,7504.703073,3051.352839,17.364051,5834.595216,8820.233546,31312.532649,24.969982,25.028370,24.999549,24.969982,24.948297,24.969982,24.969982,24.969982,24.799809,520.969318,109.320837,1398.246620,148.777230
min,1.000000,2199.000000,1368.000000,12.000000,1246.000000,2660.000000,3460.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,762.000000,129.100000
25%,24.250000,14156.250000,5933.000000,25.000000,3446.750000,14299.750000,15463.000000,22.250000,21.250000,22.250000,22.250000,22.250000,22.250000,22.250000,22.250000,23.250000,6.000000,121.383000,5400.750000,283.005000
50%,45.500000,18748.500000,7595.000000,38.000000,5020.000000,17141.500000,26743.500000,43.500000,42.500000,43.500000,43.500000,43.500000,43.500000,43.500000,43.500000,41.500000,33.000000,200.616000,6070.500000,346.165000
75%,66.750000,25937.500000,9182.250000,51.750000,9446.750000,22682.250000,44057.500000,64.750000,63.750000,64.750000,64.750000,64.750000,64.750000,64.750000,64.750000,64.750000,113.750000,289.670500,6816.500000,444.407500
max,200.000000,37014.000000,20235.000000,74.000000,37015.000000,62486.000000,163241.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,4744.000000,539.213000,10000.000000,989.940000

In [6]:
original_df.tail()

,dept,Region,Department,Crime_pers,Crime_prop,Literacy,Donations,Infants,Suicides,MainCity,...,Crime_parents,Infanticide,Donation_clergy,Lottery,Desertion,Instruction,Prostitutes,Distance,Area,Pop1831
82,86,W,Vienne,15010,4710,25,8922,35224,21851,2:Med,...,20,1,44,40,38,65,18,170.523,6990,282.73
83,87,C,Haute-Vienne,16256,6402,13,13817,19940,33497,2:Med,...,68,6,78,55,11,84,7,198.874,5520,285.13
84,88,E,Vosges,18835,9044,62,4040,14978,33029,2:Med,...,58,34,5,14,85,11,43,174.477,5874,397.99
85,89,C,Yonne,18006,6516,47,4276,16616,12789,2:Med,...,32,22,35,51,66,27,272,81.797,7427,352.49
86,200,NaN,Corse,2199,4589,49,37015,24743,37016,2:Med,...,81,2,84,83,9,25,1,539.213,8680,195.41

In [7]:
original_df.head()

,dept,Region,Department,Crime_pers,Crime_prop,Literacy,Donations,Infants,Suicides,MainCity,...,Crime_parents,Infanticide,Donation_clergy,Lottery,Desertion,Instruction,Prostitutes,Distance,Area,Pop1831
1,1,E,Ain,28870,15890,37,5098,33120,35039,2:Med,...,71,60,69,41,55,46,13,218.372,5762,346.03
2,2,N,Aisne,26226,5521,51,8901,14572,12831,2:Med,...,4,82,36,38,82,24,327,65.945,7369,513.00
3,3,C,Allier,26747,7925,13,10973,17044,114121,2:Med,...,46,42,76,66,16,85,34,161.927,7340,298.26
4,4,E,Basses-Alpes,12935,7289,46,2733,23018,14238,1:Sm,...,70,12,37,80,32,29,2,351.399,6925,155.90
5,5,E,Hautes-Alpes,17488,8174,69,6962,23076,16171,1:Sm,...,22,23,64,79,35,7,1,320.280,5549,129.10

In [8]:
original_df.dropna(inplace = True)
original_df.tail()

,dept,Region,Department,Crime_pers,Crime_prop,Literacy,Donations,Infants,Suicides,MainCity,...,Crime_parents,Infanticide,Donation_clergy,Lottery,Desertion,Instruction,Prostitutes,Distance,Area,Pop1831
81,85,W,Vendee,20827,7566,28,14035,62486,67963,1:Sm,...,50,44,30,68,79,59,4,212.459,6720,330.36
82,86,W,Vienne,15010,4710,25,8922,35224,21851,2:Med,...,20,1,44,40,38,65,18,170.523,6990,282.73
83,87,C,Haute-Vienne,16256,6402,13,13817,19940,33497,2:Med,...,68,6,78,55,11,84,7,198.874,5520,285.13
84,88,E,Vosges,18835,9044,62,4040,14978,33029,2:Med,...,58,34,5,14,85,11,43,174.477,5874,397.99
85,89,C,Yonne,18006,6516,47,4276,16616,12789,2:Med,...,32,22,35,51,66,27,272,81.797,7427,352.49

In [9]:
df = original_df[['Crime_prop','Literacy','Wealth','Distance']] #By selecting only some variables df Save as
df.head()

   Crime_prop  Literacy  Wealth  Distance
1       15890        37      73   218.372
2        5521        51      22    65.945
3        7925        13      61   161.927
4        7289        46      76   351.399
5        8174        69      83   320.280